
/* 
.navbar1{
 margin: 20 px;
 padding: 20px;
} */
/* #btnlast{
    margin-left: 500px;
} */
/* #p1{
    text-align: center !important;
} */
#about {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}